{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    第{{ player.round_number }}回合，请与另一位参与者交流一下再做出选择吧
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}
    <p>
        你本回合匹配的对手是{{ player.get_others_in_group }}，你可以记录一下跟ta游戏的结果

    </p>
    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">ta的选择/收益</th>
            </tr>
            <tr>
                <th>合作</th>
                <th>不合作</th>
            </tr>
            <tr class="highlight-row-on-hover">
                <th rowspan="2"><span class="rotate90">你的选择/收益</span></th>
                <td><button name="decision" value="合作" class="btn btn-primary btn-large">合作！</button></td>
                <td>你获得{{Constants.both_cooperate_payoff}},ta获得{{Constants.both_cooperate_payoff}}</td>
                <td>你获得{{ Constants.betrayed_payoff }},ta获得{{Constants.betray_payoff}}</td>
            </tr>
            <tr class="highlight-row-on-hover">
                <td><button name="decision" value="不合作" class="btn btn-primary btn-large">不合作！</button></td>
                <td>你获得{{Constants.betray_payoff}},ta获得{{ Constants.betrayed_payoff }}</td>
                <td>你获得{{Constants.both_defect_payoff}},ta获得{{Constants.both_defect_payoff}}</td>
            </tr>
        </table>
    </div>

    <p>你可以在这里和另一名参与者愉快的聊会天！（但请不要透露任何个人信息，在你选择之后你依然可以跟ta交谈）</p>

    {% chat %}


    {% include Constants.instructions_template %}

{% endblock %}
