{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        简介
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <!--<p>-->
        <!--In this study, you will be randomly and anonymously paired with another-->
        <!--participant.-->
        <!--Each of you simultaneously and privately chooses whether you want to-->
        <!--cooperate or defect.-->
        <!--Your payoffs will be determined by the choices of both as below:-->
    <!--</p>-->
    <p>
        在本次实验中，你每回合会随机与一名参与者游戏,你们将在交流后同时做出自己的选择，是合作还是不合作，你的收益将视你的选择而定：
    </p>
    <!--<p><i>In each cell, the amount to the left is the payoff for-->
        <!--you and to the right for the other participant.</i></p>-->
    <p><i>在每一回合中，你的收益将显示在左边，ta的收益将显示在右边</i></p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>另一名参与者的选择/收益</th>
        </tr>
        <tr>
            <th>合作</th>
            <th>不合作</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">你的选择/收益</span></th>
            <th>合作</th>
            <td>你的收益{{ Constants.both_cooperate_payoff }}, ta的收益{{ Constants.both_cooperate_payoff }}</td>
            <td>你的收益{{ Constants.betrayed_payoff }}, ta的收益{{ Constants.betray_payoff }}</td>
        </tr>
        <tr>
            <th>不合作</th>
            <td>你的收益{{ Constants.betray_payoff }}, ta的收益{{ Constants.betrayed_payoff }}</td>
            <td>你的收益{{ Constants.both_defect_payoff }}, ta的收益{{ Constants.both_defect_payoff }}</td>
        </tr>
    </table>
    <p>
        匹配是完全随机的，你可以记录一下ta的号码以及你们游戏的结果，这将对你的最终收益有好处
    </p>

</div>
</div>