{% load otree static %}

<div class="card bg-light instructions">
    <div class="card-body">
    <!--<h3>-->
        <!--Instructions-->
    <!--</h3>-->

    <!--<p>-->
        <!--In this study, you will be in a randomly formed group-->
        <!--of {{ Constants.players_per_group }} participants. Each participant in-->
        <!--the group is given {{ Constants.endowment }}. The group-->
        <!--has the opportunity to undertake a joint project. Each participant in-->
        <!--the group decides how much she or he is going to contribute to-->
        <!--the project. Contribution could be any integer from 0-->
        <!--to {{ Constants.endowment }}.-->
    <!--</p>-->
    <!--<p>-->
        <!--The earnings from the project are calculated as follows: The-->
        <!--contributions of all {{ Constants.players_per_group }} participants are-->
        <!--added up, the total contribution-->
        <!--is multiplied by a factor of {{ Constants.multiplier }}, and the-->
        <!--resulting amount is the total earnings from the project, which is-->
        <!--evenly split among all {{ Constants.players_per_group }}-->
        <!--participants. Your payoff equals your earnings from the project, plus-->
        <!--the amount you did not contribute.-->
    <!--</p>-->

    <h3>
        简介
    </h3>
    <p>
        在这个简单实验中，您将成为一个由{{ Constants.players_per_group }}名参与者组成的随机组中的一员。该组中的每个参与者拥有{{ Constants.endowment }}初始资金。小组将开展一个联合项目。小组中的每个参与者决定她或他将为项目贡献多少。贡献可以是0到{{ Constants.endowment }}之间的任何整数。
    </p>
    <p>
        该项目的收益计算如下：所有{{ Constants.players_per_group }}个参与者的贡献相加，总贡献乘以因子{{ Constants.multiplier }}，结果金额是项目的总收入，再将总收入均匀分配给所有{{ Constants.players_per_group }}个参与者。您的回报等于您从项目中获得的收入，加上您没有贡献的金额。
    </p>

    </div>

</div>

